<a href="https://colab.research.google.com/github/Suresh-Yatirajula/Python-Pre-Course-upGrad/blob/master/Introduction-DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("This is my first line of code in python")

This is my first line of code in python

In [0]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [5]:
a = 6
b = 7

print(a + b)  
print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

13
-1
42
0.8571428571428571
0
6
279936

In [0]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [0]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [0]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

In [0]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [0]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [0]:
increment = '4%'
print(increment.rstrip('%'))

4

In [0]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [0]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [0]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [2]:
val = "2 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [6]:
what = val[2:]
print(what)
len(what)

apples

6

In [4]:
#slicing by specifying start and end index
print(val[2:5])

app

In [0]:
batch = "5 oranges 3 monkeys n"
fruits = batch[:-2]
print(fruits)

5 oranges 3 monkeys

In [0]:
print(batch[ :3])

5 o

In [0]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [0]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [0]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [0]:
odd_nums_again = nums[ :: 2]
print(odd_nums_again)

13579

In [0]:
first_name = "Monty"
last_name = 'Python'

In [0]:
name = first_name + " " + last_name
print(name)

Monty Python

In [0]:
age = 30
my_age = ("I am "+ str(age) + " years old")
print(my_age)

I am 30 years old

In [0]:
My_age = "I am {0} years old {1} really ".format(age,age) 
print(My_age)

I am 30 years old 30 really

In [0]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [0]:
#concat and update
name += ' ' + my_age
print(name)

Monty Python I am 30 years old